---

### pandas

In [1]:
!pip list

Package                   Version
------------------------- --------------
altair                    5.5.0
anyio                     4.10.0
argon2-cffi               25.1.0
argon2-cffi-bindings      25.1.0
arrow                     1.3.0
asttokens                 3.0.0
async-lru                 2.0.5
attrs                     25.3.0
babel                     2.17.0
beautifulsoup4            4.13.4
bleach                    6.2.0
blinker                   1.9.0
branca                    0.8.1
cachetools                6.2.0
certifi                   2025.8.3
cffi                      1.17.1
charset-normalizer        3.4.3
click                     8.2.1
colorama                  0.4.6
comm                      0.2.3
contourpy                 1.3.3
cycler                    0.12.1
debugpy                   1.8.16
decorator                 5.2.1
defusedxml                0.7.1
et_xmlfile                2.0.0
executing                 2.2.0
fastjsonschema            2.21.2
folium                    0.20.0
fonttools                 4.59.1
fqdn                      1.5.1
gitdb                     4.0.12
GitPython                 3.1.45
greenlet                  3.2.4
h11                       0.16.0
httpcore                  1.0.9
httpx                     0.28.1
idna                      3.10
ipykernel                 6.30.1
ipython                   9.4.0
ipython_pygments_lexers   1.1.1
ipywidgets                8.1.7
isoduration               20.11.0
jedi                      0.19.2
Jinja2                    3.1.6
json5                     0.12.1
jsonpointer               3.0.0
jsonschema                4.25.0
jsonschema-specifications 2025.4.1
jupyter                   1.1.1
jupyter_client            8.6.3
jupyter-console           6.6.3
jupyter_core              5.8.1
jupyter-events            0.12.0
jupyter-lsp               2.2.6
jupyter_server            2.16.0
jupyter_server_terminals  0.5.3
jupyterlab                4.4.6
jupyterlab_pygments       0.3.0
jupyterlab_server         2.27.3
jupyterlab_widgets        3.0.15
kiwisolver                1.4.9
lark                      1.2.2
MarkupSafe                3.0.2
matplotlib                3.10.5
matplotlib-inline         0.1.7
mistune                   3.1.3
mysql-connector-python    9.4.0
narwhals                  2.2.0
nbclient                  0.10.2
nbconvert                 7.16.6
nbformat                  5.10.4
nest-asyncio              1.6.0
notebook                  7.4.5
notebook_shim             0.2.4
npm                       0.1.1
numpy                     2.3.2
openpyxl                  3.1.5
optional-django           0.1.0
outcome                   1.3.0.post0
overrides                 7.7.0
packaging                 25.0
pandas                    2.3.2
pandocfilters             1.5.1
parso                     0.8.4
pillow                    11.3.0
pip                       25.1
platformdirs              4.3.8
plotly                    6.3.0
prometheus_client         0.22.1
prompt_toolkit            3.0.51
protobuf                  6.32.0
psutil                    7.0.0
pure_eval                 0.2.3
pyarrow                   21.0.0
pycparser                 2.22
pydeck                    0.9.1
Pygments                  2.19.2
PyMySQL                   1.1.2
pyparsing                 3.2.3
PySocks                   1.7.1
python-dateutil           2.9.0.post0
python-dotenv             1.1.1
python-json-logger        3.3.0
pytz                      2025.2
pywin32                   311
pywinpty                  3.0.0
PyYAML                    6.0.2
pyzmq                     27.0.1
referencing               0.36.2
requests                  2.32.4
rfc3339-validator         0.1.4
rfc3986-validator         0.1.1
rfc3987-syntax            1.1.0
rpds-py                   0.27.0
selenium                  4.35.0
Send2Trash                1.8.3
setuptools                78.1.1
six                       1.17.0
smmap                     5.0.2
sniffio                   1.3.1
sortedcontainers          2.4.0
soupsieve                 2.7
SQLAlchemy                2.0.43
stack-data                0.6.3
streamlit                 1.48.1
streamlit-folium          0.25.1
tenacity                  9.1.2
terminado                 0.18.1
tinycss2                  1.4.0
toml                      0.10.2
tornado                   6.5.2
traitlets                 5.14.3
trio                      0.30.0
trio-websocket            0.12.2
types-python-dateutil     2.9.0.20250809
typing_extensions         4.14.1
tzdata                    2025.2
uri-template              1.3.0
urllib3                   2.5.0
watchdog                  6.0.0
wcwidth                   0.2.13
webcolors                 24.11.1
webencodings              0.5.1
websocket-client          1.8.0
wheel                     0.45.1
widgetsnbextension        4.0.14
wsproto                   1.2.0
xyzservices               2025.4.0

In [ ]:
# !pip install pandas

In [2]:
import numpy as np
import pandas as pd

In [6]:
n= "\n-----------------------------------------------------------------------------\n"

---
#### Series 생성
- index(label)을 통해 처리 가능한 1차원 배열

In [ ]:
# 1. 파이썬의 list 활용
stocks = ['NVDA', 'MSFT', 'TSLA', 'AMZN', 'GOOG', 'META', 'APPL']
stocks_series = pd.Series(stocks)
print(stocks_series, type(stocks_series), n)
print(stocks_series[4], n)
print(stocks_series.index, n)
print(stocks_series.values, n)

stocks_series.name = '미국 주식'
print(stocks_series, n)

stocks_series.index.name = '주식 종목'
print(stocks_series, n)

stocks_series.index = ['NVDA', 'MSFT', 'TSLA', 'AMZN', 'GOOG', 'META', 'APPL']
print(stocks_series, n)

0    NVDA
1    MSFT
2    TSLA
3    AMZN
4    GOOG
5    META
6    APPL
dtype: object <class 'pandas.core.series.Series'>
-----------------------------------------------------------------------------

GOOG
-----------------------------------------------------------------------------

RangeIndex(start=0, stop=7, step=1)
-----------------------------------------------------------------------------

['NVDA' 'MSFT' 'TSLA' 'AMZN' 'GOOG' 'META' 'APPL']
-----------------------------------------------------------------------------

0    NVDA
1    MSFT
2    TSLA
3    AMZN
4    GOOG
5    META
6    APPL
Name: 미국 주식, dtype: object
-----------------------------------------------------------------------------

주식 종목
0    NVDA
1    MSFT
2    TSLA
3    AMZN
4    GOOG
5    META
6    APPL
Name: 미국 주식, dtype: object
-----------------------------------------------------------------------------

NVDA    NVDA
MSFT    MSFT
TSLA    TSLA
AMZN    AMZN
GOOG    GOOG
META    META
APPL    APPL
Name: 미국 주식, dtype: object
-----------------------------------------------------------------------------

In [ ]:
# ndarray 활용
nums_series =pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(nums_series, n)
print(nums_series[2], n)
print(nums_series[2], nums_series['c'], n)
print(nums_series.iloc[2], nums_series.loc['c'], n)
# iloc(integer location) : 인덱스 번호로 접근
# loc(label location) : 인덱스 이름으로 접근

print(nums_series.iloc[2], n)
print(nums_series['a'], n)
print(nums_series[['a', 'c']], n)
print(nums_series[:3], n)
print(nums_series[nums_series > 0], n)
print(nums_series.index, n)
print(nums_series.values, n)

a   -1.044803
b   -0.567313
c   -1.308896
d    0.586942
e    1.018823
dtype: float64
-----------------------------------------------------------------------------

-1.3088958362623957
-----------------------------------------------------------------------------

-1.3088958362623957 -1.3088958362623957
-----------------------------------------------------------------------------

-1.3088958362623957 -1.3088958362623957
-----------------------------------------------------------------------------

-1.3088958362623957
-----------------------------------------------------------------------------

-1.0448030188517974
-----------------------------------------------------------------------------

a   -1.044803
c   -1.308896
dtype: float64
-----------------------------------------------------------------------------

a   -1.044803
b   -0.567313
c   -1.308896
dtype: float64
-----------------------------------------------------------------------------

d    0.586942
e    1.018823
dtype: float64
-----------------------------------------------------------------------------

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
-----------------------------------------------------------------------------

[-1.04480302 -0.56731278 -1.30889584  0.5869419   1.01882346]
-----------------------------------------------------------------------------

C:\Users\Playdata\AppData\Local\Temp\ipykernel_23776\2131801435.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(nums_series[2], n)
C:\Users\Playdata\AppData\Local\Temp\ipykernel_23776\2131801435.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(nums_series[2], nums_series['c'], n)

In [32]:
# 3. dictinonary 활용

info = {
    'a': 10,
    'b': 20,
    'c': 30,
    'd': 40,
    'e': 50
}

info_series = pd.Series(info)
print(info_series, n)

info_series.index = ['A', 'B', 'C', 'D', 'E']
info_series.name = 'dictionary로 만드는 Series'
info_series.index.name = '알파벳'
print(info_series, n)

a    10
b    20
c    30
d    40
e    50
dtype: int64
-----------------------------------------------------------------------------

알파벳
A    10
B    20
C    30
D    40
E    50
Name: dictionary로 만드는 Series, dtype: int64
-----------------------------------------------------------------------------

In [ ]:
# 4. scalar value로 만드는 Series
num_series = pd.Series(5.5)
print(num_series, n)
num_series = pd.Series(5.5, index=['a', 'b', 'c', 'd', 'e'])
print(num_series, n)

num_series['a'] = 'change dtype object'
print(num_series, n)

# 5. 빈 Series 생성
empty_series = pd.Series()
print(empty_series, n)

0    5.5
dtype: float64
-----------------------------------------------------------------------------

a    5.5
b    5.5
c    5.5
d    5.5
e    5.5
dtype: float64
-----------------------------------------------------------------------------

a    change dtype object
b                    5.5
c                    5.5
d                    5.5
e                    5.5
dtype: object
-----------------------------------------------------------------------------

Series([], dtype: object)
-----------------------------------------------------------------------------

C:\Users\Playdata\AppData\Local\Temp\ipykernel_23776\3478665037.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'change dtype object' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  num_series['a'] = 'change dtype object'

---
##### Series 속성

In [37]:
movies = ['귀멸의 칼날', '살인자 리포트', '컨저링', 'F1더무비', '좀비딸']

movies_series = pd.Series(movies)
movies_series.name = '9월 9일 상영 영화 제목'
movies_series.index.name = '영화 순서'
print(movies_series, n)

영화 순서
0     귀멸의 칼날
1    살인자 리포트
2        컨저링
3      F1더무비
4        좀비딸
Name: 9월 9일 상영 영화 제목, dtype: object
-----------------------------------------------------------------------------

In [38]:
print(movies_series.values, n)
movies_series.values

['귀멸의 칼날' '살인자 리포트' '컨저링' 'F1더무비' '좀비딸']
-----------------------------------------------------------------------------

array(['귀멸의 칼날', '살인자 리포트', '컨저링', 'F1더무비', '좀비딸'], dtype=object)

In [39]:
print(movies_series.array, n)
print(type(movies_series.array), n)
movies_series.array

<NumpyExtensionArray>
['귀멸의 칼날', '살인자 리포트', '컨저링', 'F1더무비', '좀비딸']
Length: 5, dtype: object
-----------------------------------------------------------------------------

<class 'pandas.core.arrays.numpy_.NumpyExtensionArray'>
-----------------------------------------------------------------------------

<NumpyExtensionArray>
['귀멸의 칼날', '살인자 리포트', '컨저링', 'F1더무비', '좀비딸']
Length: 5, dtype: object

In [48]:
print("movies_series.index :", movies_series.index) # movies_series.index
print("movies_series.index.name :", movies_series.index.name) # 영화 순서서
print("movies_series.name :", movies_series.name) # 9월 9일 상영 영화 제목
print("movies_series.dtype :", movies_series.dtype) # object
print("movies_series.shape :", movies_series.shape) # (5,)
print("movies_series.ndim :", movies_series.ndim) # ndim = 1

movies_series.index : RangeIndex(start=0, stop=5, step=1, name='영화 순서')
movies_series.index.name : 영화 순서
movies_series.name : 9월 9일 상영 영화 제목
movies_series.dtype : object
movies_series.shape : (5,)
movies_series.ndim : 1

In [52]:
np.expand_dims(movies_series, axis=0)
print(movies_series, n, np.expand_dims(movies_series, axis=0), n)

1st     귀멸의 칼날
2nd    살인자 리포트
3rd        컨저링
4th      F1더무비
5th        좀비딸
Name: 9월 9일 상영 영화 제목, dtype: object
-----------------------------------------------------------------------------
 [['귀멸의 칼날' '살인자 리포트' '컨저링' 'F1더무비' '좀비딸']]
-----------------------------------------------------------------------------

In [49]:
movies_series.index = ['1st', '2nd', '3rd', '4th', '5th']
print(movies_series, n)

1st     귀멸의 칼날
2nd    살인자 리포트
3rd        컨저링
4th      F1더무비
5th        좀비딸
Name: 9월 9일 상영 영화 제목, dtype: object
-----------------------------------------------------------------------------

In [76]:
# 시리즈의 값이 모두 고유한 값인지 여부 (True: 중복 값이 없음/ False: 중복 값이 있음)
print("movies_series.is_unique :", movies_series.is_unique, n)
print("movies_series.value_counts() :", movies_series.value_counts(), n)
print("movies_series.value_counts().index :", movies_series.value_counts().index, n)
print("movies_series.value_counts().values :", movies_series.value_counts().values, n)
print("movies_series.value_counts().index.tolist() :", movies_series.value_counts().index.tolist(), n)
print("movies_series.value_counts().values.tolist() :", movies_series.value_counts().values.tolist(), n)

movies_series.is_unique : True
-----------------------------------------------------------------------------

movies_series.value_counts() : 9월 9일 상영 영화 제목
귀멸의 칼날     1
살인자 리포트    1
컨저링        1
F1더무비      1
좀비딸        1
Name: count, dtype: int64
-----------------------------------------------------------------------------

movies_series.value_counts().index : Index(['귀멸의 칼날', '살인자 리포트', '컨저링', 'F1더무비', '좀비딸'], dtype='object', name='9월 9일 상영 영화 제목')
-----------------------------------------------------------------------------

movies_series.value_counts().values : [1 1 1 1 1]
-----------------------------------------------------------------------------

movies_series.value_counts().index.tolist() : ['귀멸의 칼날', '살인자 리포트', '컨저링', 'F1더무비', '좀비딸']
-----------------------------------------------------------------------------

movies_series.value_counts().values.tolist() : [1, 1, 1, 1, 1]
-----------------------------------------------------------------------------

In [62]:
print("dtype :", movies_series.dtype)
print("shape :", movies_series.shape)
print("ndim :", movies_series.ndim)
print("size :", movies_series.size)
print("nbytes :", movies_series.nbytes)
print("memory_usage :", movies_series.memory_usage())

dtype : object
shape : (5,)
ndim : 1
size : 5
nbytes : 40
memory_usage : 252

---
##### Series 메서드

In [94]:
nums_series = pd.Series([2025, 9, 9, 12, 35])
print(nums_series, n)
print("sum :", nums_series.sum(), n) # 합계
print("product :", nums_series.product(), n) # 곱
print("mean :", nums_series.mean(), n) # 평균
print("median :", nums_series.median(), n) # 중간값
print("mode :", nums_series.mode(), n) # 최빈값
print("std :", nums_series.std(), n) # 표준편차
print("var :", nums_series.var(), n) # 분산

0    2025
1       9
2       9
3      12
4      35
dtype: int64
-----------------------------------------------------------------------------

sum : 2090
-----------------------------------------------------------------------------

product : 68890500
-----------------------------------------------------------------------------

mean : 418.0
-----------------------------------------------------------------------------

median : 12.0
-----------------------------------------------------------------------------

mode : 0    9
dtype: int64
-----------------------------------------------------------------------------

std : 898.4063668518829
-----------------------------------------------------------------------------

var : 807134.0
-----------------------------------------------------------------------------

In [ ]:
print(nums_series, n)
print(nums_series.head(1),n) # head(n) : 처음 n개의 데이터 출력, 기본값 5
print("nums_series.describe() :", nums_series.describe(), n)
# describe() : 기본 통계 정보 제공
# count : 데이터 개수
# mean : 평균
# std : 표준편차
# min : 최소값
# 25% : 1사분위수
print("nums_series.tail(2) :", "\n", nums_series.tail(2), n)
# tail(n) : 마지막 n개의 데이터 출력, 기본값 5

0    2025
1       9
2       9
3      12
4      35
dtype: int64
-----------------------------------------------------------------------------

0    2025
dtype: int64
-----------------------------------------------------------------------------

nums_series.describe() : count       5.000000
mean      418.000000
std       898.406367
min         9.000000
25%         9.000000
50%        12.000000
75%        35.000000
max      2025.000000
dtype: float64
-----------------------------------------------------------------------------

nums_series.tail(2) :
 3    12
4    35
dtype: int64
-----------------------------------------------------------------------------

In [ ]:
print("nums_series.info() :", "\n", nums_series.info(), n) # Series의 메타데이터 정보 제공
# info() : 데이터 타입, 메모리 사용량, 데이터 개수 등 정보 제공
# ! -> Non-Null 여부 확인, 자료형 등 확인인

print("nums_series.describe() :", "\n", nums_series.describe(), n)
# describe() : 기본 통계 정보 제공
# ! -> 데이터 타입, 메모리 사용량, 데이터 개수 등 정보 제공

print("nums_series.isnull() :", "\n", nums_series.isnull(), n)
# isnull() : 데이터가 누락되었는지 여부 확인
print("nums_series.notnull() :", "\n", nums_series.notnull(), n)
# notnull() : 데이터가 누락되지 않았는지 여부 확인, 결측값이 있는지 여부 확인
print("nums_series.isna() :", "\n", nums_series.isna(), n)
# isna() : 데이터가 결측값인지 여부 확인
print("nums_series.notna() :", "\n", nums_series.notna(), n)
# notna() : 데이터가 결측값이 아닌지 여부 확인

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: None
Non-Null Count  Dtype
--------------  -----
5 non-null      int64
dtypes: int64(1)
memory usage: 172.0 bytes
nums_series.info() :
 None
-----------------------------------------------------------------------------

nums_series.describe() :
 count       5.000000
mean      418.000000
std       898.406367
min         9.000000
25%         9.000000
50%        12.000000
75%        35.000000
max      2025.000000
dtype: float64
-----------------------------------------------------------------------------

nums_series.isnull() :
 0    False
1    False
2    False
3    False
4    False
dtype: bool
-----------------------------------------------------------------------------

nums_series.notnull() :
 0    True
1    True
2    True
3    True
4    True
dtype: bool
-----------------------------------------------------------------------------

nums_series.isna() :
 0    False
1    False
2    False
3    False
4    False
dtype: bool
-----------------------------------------------------------------------------

nums_series.notna() :
 0    True
1    True
2    True
3    True
4    True
dtype: bool
-----------------------------------------------------------------------------

In [ ]:
# min : 최소값, 0사분위수
# 25% : 1사분위수
# 50% : 2사분위수(중간값)
# 75% : 3사분위수
# max : 최대값, 4사분위수

In [95]:
print("nums_series.iloc[1] :", nums_series.iloc[1], n)
print("nums_series.loc[1] :", nums_series.loc[1], n)

nums_series.index = list('abcde') # ['a', 'b', 'c', 'd', 'e']
print(nums_series, n)
nums_series.index = ['년', '월', '일', '시', '분']
print(nums_series, n)

nums_series.iloc[1] : 9
-----------------------------------------------------------------------------

nums_series.loc[1] : 9
-----------------------------------------------------------------------------

a    2025
b       9
c       9
d      12
e      35
dtype: int64
-----------------------------------------------------------------------------

년    2025
월       9
일       9
시      12
분      35
dtype: int64
-----------------------------------------------------------------------------

---
##### S&P 500 종목 데이터 활용

In [ ]:
# 미국 상위 500개 기업 종목 데이터
# 1차원 데이터 = Series

In [109]:
sp_500_df =pd.read_csv('./data/S_P500_Prices.csv') # . -> 현재 디렉토리, .. -> 상위 디렉토리
sp_500_df.info()
print(type(sp_500_df),n)
sp_500_series = sp_500_df.squeeze()
print(type(sp_500_series), n)
print(sp_500_series, n)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2159 entries, 0 to 2158
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sp500   2159 non-null   float64
dtypes: float64(1)
memory usage: 17.0 KB
<class 'pandas.core.frame.DataFrame'>
-----------------------------------------------------------------------------

<class 'pandas.core.series.Series'>
-----------------------------------------------------------------------------

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64
-----------------------------------------------------------------------------

In [110]:
sp_500_series.describe()

count    2159.000000
mean     2218.749554
std       537.321727
min      1278.040039
25%      1847.984985
50%      2106.629883
75%      2705.810059
max      3386.149902
Name: sp500, dtype: float64

In [112]:
# 형태, 요소의 개수, 깊이
print("sp_500_series 형태 :", sp_500_series.shape, n)
print("sp_500_series 요소의 개수 :", sp_500_series.size, n)
print("sp_500_series 깊이 :", sp_500_series.ndim, n)

sp_500_series 형태 : (2159,)
-----------------------------------------------------------------------------

sp_500_series 요소의 개수 : 2159
-----------------------------------------------------------------------------

sp_500_series 깊이 : 1
-----------------------------------------------------------------------------

In [113]:
# 갯수, 최소값, 중위값, 평균값, 표준 편차값, 분산값
print("sp_500_series 갯수 :", sp_500_series.count(), n)
print("sp_500_series 최소값 :", sp_500_series.min(), n)
print("sp_500_series 중위값 :", sp_500_series.median(), n)
print("sp_500_series 평균값 :", sp_500_series.mean(), n)
print("sp_500_series 표준 편차값 :", sp_500_series.std(), n)
print("sp_500_series 분산값 :", sp_500_series.var(), n)

sp_500_series 갯수 : 2159
-----------------------------------------------------------------------------

sp_500_series 최소값 : 1278.040039
-----------------------------------------------------------------------------

sp_500_series 중위값 : 2106.629883
-----------------------------------------------------------------------------

sp_500_series 평균값 : 2218.7495540592868
-----------------------------------------------------------------------------

sp_500_series 표준 편차값 : 537.3217268874763
-----------------------------------------------------------------------------

sp_500_series 분산값 : 288714.6381853397
-----------------------------------------------------------------------------

In [129]:
# 인덱스 번호로 인덱싱 및 슬라이싱 : 인덱스 50의 값 가져오기, 인덱스 100~200 값 가져오기
print("sp_500_series 인덱스 50의 값 :\n", sp_500_series.iloc[50], n)
print("sp_500_series 인덱스 100~200 값 : \n", sp_500_series.iloc[100:201], n)

sp_500_series 인덱스 50의 값 :
 1416.51001
-----------------------------------------------------------------------------

sp_500_series 인덱스 100~200 값 :
 100    1315.130005
101    1314.989990
102    1325.660034
103    1308.930054
104    1324.180054
          ...
196    1433.819946
197    1413.109985
198    1408.750000
199    1412.969971
200    1411.939941
Name: sp500, Length: 101, dtype: float64
-----------------------------------------------------------------------------

In [130]:
# fancy indexing 1000, 2000 값 가져오기
indicies = [1000, 2000]
print("sp_500_series 인덱스 1000, 2000 값 :\n", sp_500_series[indicies], n)
# print("sp_500_series 인덱스 1000 값 :", sp_500_series[1000], n)

sp_500_series 인덱스 1000, 2000 값 :
 1000    2016.709961
2000    3223.379883
Name: sp500, dtype: float64
-----------------------------------------------------------------------------

In [131]:
# boolean indexing (3000 보다 큰 수만 가져오기져오기)
print("sp_500_series 3000 보다 큰 수 :\n", sp_500_series[sp_500_series > 3000], n)
print("sp_500_series 3000 보다 큰 수 :\n", sp_500_series.iloc[sp_500_series.values > 3000], n)

sp_500_series 3000 보다 큰 수 :
 1885    3013.770020
1886    3014.300049
1887    3004.040039
1892    3005.469971
1893    3019.560059
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 160, dtype: float64
-----------------------------------------------------------------------------

sp_500_series 3000 보다 큰 수 :
 1885    3013.770020
1886    3014.300049
1887    3004.040039
1892    3005.469971
1893    3019.560059
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 160, dtype: float64
-----------------------------------------------------------------------------

In [139]:
print("index in Series :", 2000 in sp_500_series) # False
print("value in Series :", 3013.770020 in sp_500_series) # False 기본적으로 index 값으로 비교

print("index in Series :", 3013.770020 in sp_500_series.index) # True
print("value in Series :", 3013.770020 in sp_500_series.values) # True 


# !.values를 붙이지 않으면 기본 값은 index 값으로 비교

index in Series : True
value in Series : False
index in Series : False
value in Series : True

In [145]:
# 정렬
print(sp_500_series.sort_values(), n)
print(sp_500_series.sort_values(ascending=True), n)
print(sp_500_series, n) # 원본 데이터 변경 없음 inplace 영향을 받지 않는다.
sp_500_series_sorted = sp_500_series.sort_values()
# print(sp_500_series.sort_values(ascending=True, inplace=True), n)
print(sp_500_series_sorted, n) #

97      1278.040039
98      1278.180054
99      1285.500000
1       1289.089966
2       1293.670044
           ...
2038    3373.229980
2034    3373.939941
2033    3379.449951
2035    3380.159912
2037    3386.149902
Name: sp500, Length: 2159, dtype: float64
-----------------------------------------------------------------------------

97      1278.040039
98      1278.180054
99      1285.500000
1       1289.089966
2       1293.670044
           ...
2038    3373.229980
2034    3373.939941
2033    3379.449951
2035    3380.159912
2037    3386.149902
Name: sp500, Length: 2159, dtype: float64
-----------------------------------------------------------------------------

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64
-----------------------------------------------------------------------------

97      1278.040039
98      1278.180054
99      1285.500000
1       1289.089966
2       1293.670044
           ...
2038    3373.229980
2034    3373.939941
2033    3379.449951
2035    3380.159912
2037    3386.149902
Name: sp500, Length: 2159, dtype: float64
-----------------------------------------------------------------------------